# Dependencias
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/
cypress/results/

# Variáveis ​​de ambiente
.env
.env.local
